<?xml version="1.0"?>
<launch>
    
    <arg name="csv_file_name" default="/home/carma/catkin_ws_DATA_carma/saved_csv/TRC_test18.csv" />

    

    <node pkg="data_csv" type="data_csv" name="data_csv" output="screen">


        <param name="PathName_of_csv" value="$(arg csv_file_name)" />

    </node>

</launch>
